body {
  background-color: rgb(171, 101, 106);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.todo-container {
  margin: 20px;
  padding: 20px;
}

.todo-input {
  margin: 10px;
  padding: 10px 100px 10px 5px;
  cursor: pointer;
  text-align: left;
  
}

.todo-item {
  padding: 10px;
  border: 2px solid;
  border-radius: 2px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 138, 143);
  font-weight: bold;
}



.btn {
  padding: 10px 20px;
  margin: 5px;
  letter-spacing: 1px;

}

.btn-todo {
  margin: 5px;
  padding: 8px;
  font-size: 10px;
  background-color: rgb(244, 229, 229);
  color: rgb(14, 13, 13);
  text-decoration: none;
}





